<div>
    <h1 class="firstTitle">{{ mainTitle }}</h1>
    {{#each cart.products}}
    {{#with this}}
        <div id="realTimeCartProds">
            <h3>Product: {{ product.title }}</h3>
            <p>Quantity: {{ quantity }}</p>
        </div>
    {{/with}}
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>